################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/SimplyScriptures.Maui/.AndroidPublish.cmd
/src/SimplyScriptures.Maui/.iOSPublish.cmd
/src/.DotnetFormat.cmd
/src/SimplyScriptures.Maui/simplyscriptures.keystore
