@inherits LayoutComponentBase

<PageTitle>Simply Scriptures</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page" style="height: 100%">
    <MudLayout>
        <MudMainContent Style="height: 100%">
            <main style="height: 100%">
                @Body
            </main>
        </MudMainContent>
    </MudLayout>
</div>
